<h3 class="text-center">Employee Details</h3>

<div class="container">

<a routerLink="add" ><button class="btn btn-success">Add Employee</button>
</a>
<hr>
<table class="table">
      <tr>
        <th scope="col">S no.</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Designation</th>
        <th scope="col">Salary</th>

        <th scope="col">Action</th>

      </tr>
    <tbody>
      <tr *ngFor="let d of data">
        <td>{{ d.id}}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.address }}</td>
        <td>{{ d.designation }}</td>
        <td>{{ d.salary }}</td>

        <td> <a [routerLink]="['/edit',d.id]">Edit</a>
        <button class="btn btn-danger m-2" (click)="delpro(d.id)"> Delete</button>
      </td>
      </tr>
     
    </tbody>
  </table>  
</div>