<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Employee Curd</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" routerLink="/pipe">Search pipe</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="/asc">Ascending pipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dsc">descending pipe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>